@charset "utf-8";
/*
* author: Jun
*/

#about {
	width: 960px;
	height: auto;
	border: 1px solid #E8E8E8;
	border-top: none;
	background-color: #FFFFFF;
}

#about-container {
	padding: 30px;
	width: 900px;
	height: auto;
	border-top: 3px solid #66CDAA;
}

#about-container h2 {
	margin-bottom: 20px;
}

#about-container p {
	text-indent: 2em;
	font-size: 14px;
	line-height: 150%;
	margin: 10px 0;
}

#about-container .p-right {
	text-align: right;
}